<?xml version='1.0' encoding='UTF-8'?>
<settings xsi:schemaLocation='http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd'
          xmlns='http://maven.apache.org/SETTINGS/1.0.0' xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'>
    <servers>
    <server>
      <id>oss-jfrog-msb-java</id>
      <username>anstr</username>
      <password>e1kn8acACMY52mkFpIjro8a92nTr6pNFwYAv7a35kEYc5ecHpRSzvBIZnc1mOuLzsXoooY38RF5op6YUVqg53sSrmgvz8VMjRzxgHHcbzebNM7LC6Vnib+zyHA0rHVxaqcA++1/kDGyi/la9Gom0UggCHlyBscTXSh/PSOnUwmk=</password>
    </server>
  </servers>

</settings>
